# Tools
.idea
*.suo
*.user
*.sln.docstates
*.sln.ide/
*.userprefs
*.GhostDoc.xml
.vs

# Outputs
publish
results

# Build related
tools

# .NET
[Bb]in/
[Oo]bj/
[Pp]ackages/

# Bicep
*.bicepparam

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore tfplan files
*.tfplan

# Ignore .terraform lock
.terraform.lock.hcl

# Crash log files
crash.log

# Ignore all .tfvars files, which are likely to contain sensitive data, such as passwords
*.tfvars

# Ignore override files as they are usually used to override resources locally and should not be shared
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# local files
.env
appsettings.local.json

# Apple directory
.DS_Store
